.info-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.school {
  display: flex;
  flex-direction: column;
  margin: 1.5em auto;
}
.school__img-container {
  display: flex;
  width: 100%;
}
.school__img {
  max-width: 17.5em;
  max-height: 4.5em;
  scale: .95;
  transition: 0.2s ease-in-out;
}
.school__img:hover {
  scale: 1;
  transition: 0.2s ease-in-out;
}

.school__info-grid {
  display: grid;
  grid-template-rows: auto auto auto;
  font-size: 1.1em;
}
.school__info--title {
  color: var(--title-color);
  font-family: manrope-bold;
}
.school__info {
  font-family: manrope;
  margin-left: .5em;
}

.active-screen{
  opacity: 1;
  transition: opacity ease-in-out 0.2s;
}
.inactive-screen{
  opacity: 0;
  display: none;
  transition: opacity ease-in-out 0.2s;
}

/* 360 */

@media (min-width: 768px){
  .school {
    display: grid;
    grid-template-columns: 12em 1fr;
    margin: .6em auto 1em;
    gap: 1em;
  }
  .school__img-container {
    justify-content: center;
  }
  .school__img {
    max-width: 100%;
    max-height: 5.5em;
  }
  .school__info-grid {
    font-size: 1em;
  }
}