.info-wrapper {
  position: relative;
  overflow: visible;
  min-height: 325px;
  z-index: 90;
  background-color: var(--lighter-bg-color);
}
.info-wrapper__padding {
  padding: 2%;
}
.info-wrapper.block {
  padding-left: 0;
  padding-right: 0;
}

.school {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
  margin: 2% auto 0;
  width: 75%;
}
.school-grid-span-2 {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}
.school__wrapper {
  width: 100%;
}
.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.school__img {
  width: 350px;
  scale: 95%;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.school__img:hover {
  scale: 100%;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.school__title {
  color: var(--title-color);
  font-family: manrope-bold;
  font-size: 110%;
  display: block;
  margin: 5px 0;
}
.school__info {
  display: block;
  font-family: manrope;
  font-size: 110%;
  margin: 5px 15px;
}

@media (min-width: 900px) {

  .info-wrapper.block {
    padding: 0;
  }

  .school {
    -ms-grid-columns: 350px auto 1fr;
    grid-template-columns: 350px auto 1fr;
  }
  .school__img {
    width: 300px;
  }
  .school-grid-span-2 {
    -ms-grid-column-span: 1;
    grid-column: span 1;
  }

}

@media (min-width: 1200px) {
  .info-wrapper.block {
    padding: 0;
  }
}