.skills-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3,auto);
  gap: 1em;
}
.skill-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--title-color);
  font-family: manrope;
  font-size: 1em;
}
.skill-card__image {
  width: 50px;
}

/* 360 */

@media (min-width: 768px){
  .skills-grid {
    grid-template-columns: repeat(4,auto);
    gap: 1em;
  }
}

@media (min-width: 1366px){
  .skills-grid {
    grid-template-columns: repeat(8, 1fr);
    margin: 1.2em auto;
  }
}

@media (min-width: 1920px){
  .skill-card {
    position: relative;
    transform: translate(0,60%);
    opacity: 0;
    transition: 1s ease-in-out;
    transition-delay: .1s;
    font-size: 1.1em;
  }
  .skill-load-in {
    transform: translate(0,0);
    opacity: 1;
  }
  .skill-card__image {
    width: 4em;
  }
}