.skills__wrapper {
  margin: 0;
}
.skills-list {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin: 4% auto;
}
.skill-card {
  display: flex;
  flex-direction: column;
  margin: 10% auto 15%;
  text-align: center;
  color: var(--title-color);
  font-style: bold;
  font-size: 90%;
}
.skill-card__image {
  width: 50px;
}

@media (min-width: 600px){

}

@media (min-width: 900px) {

}

@media (min-width: 1200px){

  .skills__wrapper {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .skills__wrapper.block {
    padding: 2%;
  }
  .skills-list {
    grid-template-columns: repeat(4, 1fr);
    border-radius: 20px;
    margin: 2% auto;
    width: 90%;
  }
  .skill-card {
      margin: 4% auto;
      font-size: 18px;
    }
  .skill-card__image {
    width: 60px;
  }
  
}

@media (min-width: 1400px) {
  .skills-list {
    grid-template-columns: repeat(6, 1fr);
  }
  .skill-card {
      margin: 15px auto;
    }
}

@media (min-width: 1800px) {
  .skills-list {
    grid-template-columns: repeat(8, 1fr);
  }
  .skill-card {
      margin: 15px auto;
    }
}