.navbar__wrapper {
  background-color: var(--lighter-bg-color);
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  height: 5em;
  width: 100%;
  border-top: 2px solid var(--bg-color);
  font-family: manrope;
  z-index: 9999;
}
.navbar__buttons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
}
.navbar__buttons-wrapper li {
  margin: .1em;
}
.navbar__button,
.navbar__button:is(:link, :visited) {
  box-sizing:border-box;
  text-decoration: none;
  color: var(--primary-font-color);
  border: 2px solid var(--lighter-bg-color);
  background-color: var(--lighter-bg-color);
  padding: .7em .2em;
  border-radius: 8px;
  transition: 500ms;
  font-size: 1.2em;
}
.navbar__button:hover,
.navbar__button:focus-visible {
  background-color: var(--nav-button-active-bg);
  outline-style: none;
  box-shadow: none;
  border: 2px solid var(--mike-font);
  color: var(--nav-active-font-color);
  transition: 300ms;
}
.navbar__button:active {
  border: 2px solid var(--nav-button-active-border-color);
  color: var(--mike-font);
  transition: 0ms;
}
.navbar__button:focus:not(.focus-visible) {
  outline: none;
}

/* 360 */

@media (min-width: 411px){.navbar__button,
  .navbar__button:is(:link, :visited) {
    padding: .7em .2em;
    font-size: 1.35em;
  }
}

@media (min-width: 768px){
  .navbar__button:is(:link, :visited) {
    padding: .7em .8em;
    font-size: 1.35em;
  }
}

@media (min-width: 1366px){
  .navbar__wrapper {
    top: 0;
    right: 0;
    width: 53%;
    height: 4.5em;
    border-top: 0;
    border-bottom: 2px solid var(--bg-color);
    border-bottom-left-radius: 25px;
    transform: translateX(100%);
  }
  .navbar__wrapper--load-in {
    transform: translateX(0%);
    transition: 0.5s ease-in-out;
  }
  .navbar__buttons-wrapper li {
    margin: 0 .5em;
    transition: 0.5s ease-in-out;
  }
  .navbar__buttons-wrapper--at-top li {
    margin: 0 2em;
    transition: 0.5s ease-in-out;
  }

  .nav-at-top {
    width: 100%;
    border-bottom: 2px solid var(--bg-color);
    border-radius: 0;
    transform: translateX(0%);
    transition: 0.5s ease-in-out;
  }

  .navbar__button,
  .navbar__button:is(:link,:active, :visited) {
    padding: .7em 1.5em;
    font-size: 1.35em;
    border-radius: 8px;
  }

  .button-at-top,
  .button-at-top:is(:link, :visited) {
    padding: .7em 3em;
  }
}