.navbar__wrapper {
  background-color: var(--lighter-bg-color);
  border-top: 2px solid var(--bg-color);
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0%;
  height: 7%;
  width: 100%;
  z-index: 9999;
}
.navbar__buttons-wrapper {
  box-sizing:border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 75%;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.navbar__buttons-wrapper li {
  font-size: 120%;
  margin: 0 1%;
}
a.navbar__button, a.navbar__button:link, a.navbar__button:visited {
  box-sizing:border-box;
  text-decoration: none;
  color: var(--primary-font-color);
  border: 2px solid var(--lighter-bg-color);
  background-color: var(--lighter-bg-color);
  padding: 10px 10px;
  border-radius: 8px;
  transition: 500ms;
}
a.navbar__button:focus:not(.focus-visible) {
  outline: none;
}
a.navbar__button:hover, a.navbar__button:focus-visible {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
  border: 2px solid var(--mike-font);
  background-color: var(--nav-button-active-bg);
  color: var(--nav-active-font-color);
  transition: 300ms;
}
a.navbar__button:active {
  border: 2px solid var(--nav-button-active-border-color);
  color: var(--mike-font);
  transition: 0ms;
}

@media (min-width: 600px){
  .navbar__wrapper {
    height: 6%;
  }
  .navbar__buttons-wrapper li {
    font-size: 130%;
    margin: 0 6%;
  }
}

@media (min-width: 900px) {
  .navbar__buttons-wrapper li {
    font-size: 130%;
    margin: 0 6%;
  }
}

@media (min-width: 1200px){
  .navbar__wrapper {
    border-top: 0;
    border-bottom: 2px solid var(--bg-color);
    bottom: auto;
    top: 0%;
  }
  .navbar__buttons-wrapper li {
    font-size: 135%;
  }
  a.navbar__button, a.navbar__button:link, a.navbar__button:active, a.navbar__button, a.navbar__button:visited {
    padding: 10px 50px;
    border-radius: 8px;
  }
}

@media (min-width: 1400px) {
  .navbar__wrapper {
    height: 6.5%;
  }
}