.navbar__wrapper {
  background-color: var(--lighter-bg-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  bottom: 0;
  height: 5em;
  width: 100%;
  border-top: 2px solid var(--bg-color);
  font-family: manrope;
  z-index: 9999;
}
.navbar__buttons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
}
.navbar__buttons-wrapper li {
  margin: .1em;
}
.navbar__button,
.navbar__button:is(:link, :visited) {
  border: 2px solid transparent;
  padding: .7em .2em;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  font-size: 1.2em;
}
.navbar__button:hover {
  border: 2px solid var(--mike-font);
}
.navbar__button:active {
  border: 2px solid var(--nav-button-active-border-color);
  -webkit-transition: 0ms;
  -o-transition: 0ms;
  transition: 0ms;
}
.navbar__button:focus:not(.focus-visible) {
  outline: none;
}

/* 360 */

@media (min-width: 411px){.navbar__button,
  .navbar__button:is(:link, :visited) {
    padding: .7em .2em;
    font-size: 1.35em;
  }
}

@media (min-width: 768px){
  .navbar__button:is(:link, :visited) {
    padding: .7em .8em;
    font-size: 1.35em;
  }
}

@media (min-width: 1366px){
  .navbar__wrapper {
    top: 0;
    right: 0;
    width: 53%;
    height: 4.5em;
    border-top: 0;
    border-bottom: 2px solid var(--bg-color);
    border-bottom-left-radius: 25px;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
  }
  .navbar__wrapper--load-in {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  .navbar__buttons-wrapper li {
    margin: 0 .5em;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  .navbar__buttons-wrapper--at-top li {
    margin: 0 2em;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }

  .nav-at-top {
    width: 100%;
    border-bottom: 2px solid var(--bg-color);
    border-radius: 0;
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }

  .navbar__button,
  .navbar__button:is(:link,:active, :visited) {
    padding: .7em 1.5em;
    font-size: 1.35em;
    border-radius: 8px;
  }

  .button-at-top,
  .button-at-top:is(:link, :visited) {
    padding: .7em 3em;
  }
}