.light-up {
  display: inline-block;
  color: var(--primary-font-color);
  border-bottom: solid 1px transparent;
  transition: 1.7s;
  transition-delay: .5s;
}
.light-up:hover {
  color: var(--nav-active-font-color);
  border-bottom: solid 1px var(--nav-active-font-color);
  transition: 100ms ease-in;
}