.project {
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
  background-color: var(--lighter-bg-color);
  border: 1px solid var(--lighter-bg-color);
  width: 100%;
  margin-bottom: 2em;
}

.project__title {
  color: var(--title-color);
  margin: 0;
  font-family: manrope-bold;
}
.project__sub-title {
  color: var(--title-color);
  font-size: 1.1em;
  font-family: manrope-bold;
  font-style: italic;
}

.project__image {
  cursor: pointer;
  width: 100%;
  border-radius: 7px;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  border: solid 2px transparent;
  scale: .98;
}
.project__image:hover {
  -webkit-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  border: solid 2px var(--mike-font);
  scale: 1;
}

.project__tech-list {
  font-size: .8em;
  font-style: italic;
}
.project__tech {
  display: inline-block;
  margin-left: .5em;
}

.project__buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 1em;
}
.project__button:is(:link, :visited) {
  margin-right: 1em;
  padding: .2em 1em;
}

/* 360 */

@media (min-width: 1024px){
  .project {
    display: -ms-grid;
    display: grid;
    gap: 1em;
    -ms-grid-columns: 1fr 1em 1fr;
    grid-template-columns: 1fr 1fr;
    border: 1px solid var(--lighter-bg-color);
    border-radius: 15px;
    margin: 1.5em auto;
  }
  
  .project__image--wrapper {
    height: 100%;
    margin-top: .3em;
  }
  .project__image {
    scale: 1;
  }

  .project__buttons-container {
    display: block;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 1em;
  }
}

@media (min-width: 1366px){
  .project__image {
    scale: .98;
  }
}