input:-webkit-autofill,
input:-webkit-autofill:is(:hover, :focus, :active){
  -webkit-text-fill-color: var(--primary-font-color) !important;
  -webkit-box-shadow: 0 0 0px 1000px var(--nav-button-active-bg) inset;
  border: 0;
  border-top: 2px solid var(--mike-font);
  border-bottom: 2px solid var(--mike-font);
}

.contact__form {
  background-color: var(--lighter-bg-color);
  padding-bottom: 1em;
  width: 100%;
}

label {
  font-style: italic;
  color: var(--title-color);
  padding: 0 .65em;
}

.contact__icon--wrapper {
  width: 100%;
  text-align: end;
}

.contact__icon {
  font-size: 2em;
  margin-right: .5em; 
  color: var(--primary-font-color);
}
.contact__icon:hover {
  color: var(--nav-active-font-color);
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
.contact__icon:active {
  color: var(--mike-font);
}
.contact__icon a:focus {
  color: var(--nav-active-font-color);
  outline: none;
}

.contact__input {
  background: var(--nav-button-active-bg);
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
  margin-bottom: 1em;
  padding: 0.4em .5em;
  width: 100%;
  outline-style: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: transparent;
  border-top: 2px solid var(--project__button-border-color);
  border-bottom: 2px solid var(--project__button-border-color);
  color: var(--primary-font-color);
  -webkit-transition: 600ms;
  -o-transition: 600ms;
  transition: 600ms;
  overflow-y: auto;
}
.contact__input:is(:focus-visible, :hover, :active){
  border-top: 2px solid var(--mike-font);
  border-bottom: 2px solid var(--mike-font);
  -webkit-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
}
.contact__submit-wrapper {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 0 auto;
}
.contact__form-submit {
  padding: .4em 0;
  cursor: pointer;
}

.response__wrapper {
  height: 1em;
  margin-bottom: .2em;
  text-align: center;
  width: 100%;
}
.response {
  font-family: manrope;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: 1.2em;
  margin: 0;
}
.response__sent {
  color: #00ff00;
}
.response__error {
  color: #ff0000;
}

.mobile-side-padding {
  padding-left: .65em;
  padding-right: .65em;
}

/* 360 */

@media (min-width: 1366px){
  .contact__wrapper {
    margin: 0 auto;
    margin-bottom: 5px;
  }
  .contact__submit-wrapper {
    width: 100%;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .contact__form-submit {
    margin-right: 0;
    padding: .4em 6em;
  }
  .contact__input {
    border-radius: 4px;
    border: 2px solid var(--project__button-border-color);
    margin-bottom: 1em;
    padding: .5em;
  }
  label {
    margin: 0;
    margin-bottom: .3em;
    padding: 0;
  }
  .contact__input:is(:focus-visible, :hover, :active) {
    border: 2px solid var(--mike-font);
  }
  
  .contact__icon {
    font-size: 3em;
    margin-right: 1em;
  }

}