.footer__wrapper {
  margin-bottom: 16em;
  width: 100%;
  text-align: end;
}
.footer__copyright {
  font-family: manrope-bold;
  font-style: italic;
  font-size: 0.8em;
  margin-right: 3em;
  opacity: .3;
}

@media (min-width: 1200px){
  .footer__wrapper {
    margin: 0 auto;
    margin-bottom: 10vh;
    width: 60vw;
    text-align: end;
  }
  .footer__copyright {
    font-style: italic;
    font-size: 0.8em;
    margin-right: 3em;
    opacity: .3;
  }
}