.miniNav{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.miniNav__buttons-wrapper {
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: inline-flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: space-evenly;
      -ms-flex-align: space-evenly;
          align-items: space-evenly;
  width: 100%;
}
.miniNav__button, .miniNav__button:link, .miniNav__button:visited {
  margin: 0 5%;
  padding: .4rem .7rem;
  letter-spacing: .2rem;
  background: none;
  border: transparent;
  color: var(--primary-font-color);
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  text-transform: uppercase;
  cursor: pointer;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
.miniNav__button:focus:not(.focus-visible) {
  outline: none;
}
.miniNav__button:hover, .miniNav__button:focus-visible {
  outline-style: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: var(--nav-button-active-bg);
  color: var(--nav-active-font-color);
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
.miniNav__button:active {
  color: var(--mike-font);
  -webkit-transition: 0ms;
  -o-transition: 0ms;
  transition: 0ms;
}
.miniNav__button.active_button {
  border-left: 5px solid var(--mike-font);
  border-right: 5px solid var(--mike-font);
  color: var(--nav-active-font-color);
}