:root {
  /* ------------------------------------------------ BG Colors */
    
    --bgcolor: #090a11;
    --lighterBgColor: #1f2639;
    --navButtonActiveBg: #1b2131;

/* ------------------------------------------------ Borders */

  --navBorderColor: #ffffff;
  --navButtonActiveBorderColor: #ffffff;
  --projectButtonBorderColor: #2d364e;
  --mutedPurple: #5c008a;

/* ------------------------------------------------ Font Colors */

  --titleColor: #cfdaf5;
  --primaryFontColor: #9faed7;
  --navActiveFontColor: #ffffff;
  --mikeFont: #ae00ff;

}

/* ----------------------------------------------------------------------------------------- General */

html, body {
  z-index: 5;
  background-color: var(--bgcolor);
  background-attachment: fixed;
  scroll-behavior: smooth;
  color: var(--primaryFontColor);
}

div {
  z-index: 5;
}

.title {
  color: var(--titleColor);
  margin: 0;
}

.spacer {
  margin: 2%;
}

.bigolblock {
  /* background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center; */
  height: 100vh;
}

.bigolblock2 {
  min-height: 100vh;
  margin-bottom: 20%;
}

.textWrapper {
  background-color: var(--lighterBgColor);
  padding: 10px 10px 5px 10px;
  position: relative;
  width: 100%;
}

.small-button {
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid var(--projectButtonBorderColor);
  background-color: var(--lighterBgColor);
  color: var(--primaryFontColor);
  font-size: 120%;
  padding: 5px 10%;
  border-radius: 4px;
  transition: 500ms;
}

/* ----------------------------------------------------------------------------------------- Navbar */

.navbar-body {
  background-color: var(--lighterBgColor);
  border-top: 2px solid var(--bgcolor);
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0%;
  height: 6%;
  width: 100%;
  z-index: 9999;
}

.navbar-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 75%;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.navbar-buttons li {
  margin: 0 2%;
}

a.navbutton, a.navbutton:link, a.navbutton:visited {
  text-decoration: none;
  color: var(--primaryFontColor);
  border: 2px solid var(--lighterBgColor);
  background-color: var(--lighterBgColor);
  padding: 10px 10px;
  border-radius: 8px;
  transition: 500ms;
}

a.navbutton:hover, a.navbutton:focus {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
  border: 2px solid var(--mikeFont);
  background-color: var(--navButtonActiveBg);
  color: var(--navActiveFontColor);
  transition: 300ms;
}

a.navbutton:active {
  border: 2px solid var(--navButtonActiveBorderColor);
  color: var(--mikeFont);
  transition: 0ms;
}

/* ----------------------------------------------------------------------------------------- Mike Font */

.mikeLetter {
  display: inline-block;
  transition: 1.5s;
  font-style: bold;
  color: var(--mikeFont);
}

.mikeLetter:hover {
  color: var(--navActiveFontColor);
  transition: 100ms;
  transform: rotate(-20deg);
}

/* ----------------------------------------------------------------------------------------- About Me */

.aboutMe {
  
}

/* ----------------------------------------------------------------------------------------- Skills */

.skillsDesc {

}

.skillCard {
  color: var(--titleColor);
  width: 50px;
  text-align: center;
  justify-items: center;
  font-style: bold;
  font-size: 15px;
  margin: 8% 0;
}

.skills {
  border-top: 1px solid var(--mutedPurple);
  border-bottom: 1px solid var(--mutedPurple);
  background: linear-gradient(120deg, #000117 0%, #160024 70%);
  display: grid;
  grid-template-columns: repeat(4,20%);
  justify-content: space-evenly;
  padding: 4% 0;
}

.skillImage {
  width: 40px;
}

.skillsContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

/* ----------------------------------------------------------------------------------------- Projects */

.projectType {
  color: var(--titleColor);
  font-style: italic;
  font-size: 110%;
}

.projectContainer {
  position: relative;
  background-color: var(--lighterBgColor);
  border: 1px solid var(--lighterBgColor);
  padding: 25px 15px;
  align-items: center;
  width: 100%;
  margin: 1% auto;
}

.projectImage {
  width: 100%;
  border-radius: 7px;
  margin-bottom: 6%;
}

.projectTechs {
  font-size: 80%;
  font-style: italic;
}

.projectButtonsContainer {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.tech {
  display: inline-block;
  margin: 0 0 0 7px;
}

a.project-button, a.project-button:link, a.project-button:visited {
  margin: 0 5%;
}

a.project-button:hover, a.project-button:focus {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
  border: 2px solid var(--mikeFont);
  background-color: var(--navButtonActiveBg);
  color: var(--navActiveFontColor);
  transition: 300ms;
}

a.project-button:active {
  border: 2px solid var(--navButtonActiveBorderColor);
  color: var(--mikeFont);
  transition: 0ms;
}

/* ----------------------------------------------------------------------------------------- Contact */

.contact-label {
  display: block;
  font-style: italic;
  color: var(--titleColor);
  margin-left: 3%;
}

.contact-form {
  background-color: var(--lighterBgColor);
  margin-top: 4%;
  padding: 2% 0 4% 0;
}

.contact-input {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
  background: var(--navButtonActiveBg);
  border-top: 1px solid var(--projectButtonBorderColor);
  border-bottom: 1px solid var(--projectButtonBorderColor);
  color: var(--primaryFontColor);
  width: 100%;
  margin-bottom: 4%;
  padding: 2% 2% 0 2%;
  overflow-y: auto;
  transition: 600ms;
}

.contact-input:focus, .contact-input:hover, .contact-input:active  {
  border-top: 1px solid var(--mikeFont);
  border-bottom: 1px solid var(--mikeFont);
  transition: 50ms;
}

.contact-button-container {
  display: flex;
  justify-content: center;
}

/* ----------------------------------------------------------------------------------------- Desktop */
/* -----------------------------------------------------------------------------------------  */

@media (min-width: 500px){

/* ----------------------------------------------------------------------------------------- General */

  .bigolblock2 {
    padding-top: 5%;
    min-height: 100vh;
  }

  .textWrapper {
    padding: 0 10px;
    border: 2px solid var(--lighterBgColor);
    border-radius: 25px;
  } 

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* ----------------------------------------------------------------------------------------- Nav */

  .navbar-body {
    border-top: 0;
    border-bottom: 2px solid var(--bgcolor);
    top: 0%;
  }

  .navbar-buttons li {
    font-size: 120%;
  }

  a.navbutton, a.navbutton:link, a.navbutton:active, a.navbutton, a.navbutton:visited {
    padding: 10px 50px;
    border-radius: 8px;
  }

/* ----------------------------------------------------------------------------------------- About Me */

.aboutMe {
  top: 10%;
  left: 2%;
  width: 35%;
}

/* ----------------------------------------------------------------------------------------- Skills */
  
  .skillCard {
    width: 175px;
    font-size: 18px;
  }
  
  .skills {
    border: 1px solid var(--mutedPurple);
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(10%, auto);
    border-radius: 20px;
    padding: 0 25px 0 25px;
    margin: 2% 5%;
  }
  
  .skillImage {
    width: 60px;
  }

  .skillsContainer {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }

/* ----------------------------------------------------------------------------------------- Skills */

.projectContainer {
  background-color: var(--lighterBgColor);
  border: 1px solid var(--lighterBgColor);
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.projectImage {
  width: 95%;
  margin-bottom: 0;
}

.projectButtonsContainer {
  display: inline-block;
}

a.projectButton, a.projectButton:link, a.projectButton:visited {
  margin: 0 10%;
  padding: 5px 35px;
}

}